<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <!-- Keyword -->
    {% block keyword %}
    <!-- <meta name="keywords" content=""> -->
    {% endblock %}
        
    <title>{{ 'front.home'|trans }}</title>
    <link rel="icon" type="image/png" href="{{ asset('style/img/favicon.png') }}" /> 

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="icon" href="{{ asset('style/img/favicon.png') }}" /> 

    <link rel="stylesheet" href="{{ asset('style/lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/lib/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/lib/animate/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/lib/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/lib/lightbox/css/lightbox.min.css') }}">

    <link rel="stylesheet" href="{{ asset('style/css/style.css') }}">

    {% block stylesheets %}
    {% endblock %}
    
  </head>
  <body id="page-top">

    <!-- Header -->
    {% block header %}
    {% endblock %}
    <!-- Nav -->
    {% block nav %}
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll" href="{{ path('home') }}">{{ 'front.home'|trans }}</a>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll" href="#about">{{ 'front.home.about'|trans }}</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="#portfolio">{{ 'front.home.portfolio'|trans }}</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('blog_index') }}">{{ 'front.blog'|trans }}</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('contact') }}">{{ 'front.contact'|trans }}</a></li>
            {% include 'block/signin.twig' %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    <!-- Intro -->
    {% block intro %}
      <div id="intro" class="intro route bg-image" style="background-image: url({{ asset('style/img/intro.jpeg') }})">
        <div class="overlay-intro"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <h1 class="intro-title mb-4">{{ 'administrator.id'|trans }}</h1>
              <p class="intro-subtitle">
                <span class="text-slider-items">{{ 'front.home.intro'|trans }}</span>
                <strong class="text-slider"></strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    
    <!-- 플래시 메시지 -->
    {% block flash %}
      {% include 'block/flash.twig' %}
    {% endblock %}
    
    {% block main %}
    {% endblock %}

    <!-- Right Side -->  
    {% block rightside %}
    {% endblock %}

    <!-- Footer -->  
    {% block footer %}
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route">
      <div class="overlay-mf" style="opacity: 0.95"></div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="copyright-box">
                <p class="copyright">&copy; Copyright <strong>{{ 'administrator.id'|trans }}</strong>. All Rights Reserved</p>
              </div>
              <div class="site-box">
                <p class="site"><a href="https://github.com/Yuu2/portfolio-blog"><i class="fa fa-github fa-2x"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>
    {% endblock %}

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <script src="{{ asset('style/lib/jquery/js/jquery.min.js') }}"></script>
    <script src="{{ asset('style/lib/popper/js/popper.min.js') }}"></script>
    <script src="{{ asset('style/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('style/lib/easing/js/easing.min.js') }}"></script>
    <script src="{{ asset('style/lib/counterup/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('style/lib/counterup/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('style/lib/owlcarousel/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('style/lib/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('style/lib/typed/js/typed.min.js') }}"></script>

    <script src="{{ asset('style/js/main.js') }}"></script>

    {% block javascripts %}
    {% endblock %}
  
  </body>
</html>
