{% extends 'front/base.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/fosckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css') }}">
  <link rel="stylesheet" href="{{ asset('style/css/blog/index.css') }}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block intro %}
  <div class="intro intro-single route bg-image">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4"></h2>
          <ol class="breadcrumb d-flex justify-content-center">
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- 블로그 본문 -->
          {% if Articles is empty %}
            <div class="post-box">
              {{ 'common.data.null'|trans }}
            </div>
          {% else %}

            {% for Article in Articles %}
              <div class="post-box">
                <a href="{{ path('blog_article_show', {'id': Article.id}) }}">
                  <h1 class="article-title">{{ Article.title }}</h1>
                </a>
                <div class="article-content">
                  {{ Article.content|length < 200 ? Article.content|striptags|slice(0, 200)|raw ~ '...' : Article.content|raw }} 
                </div>
                <div class="post-meta">
                  <ul>
                    <li>
                      <span class="ion-pricetag"></span>
              
                      {% for Tag in Article.tag %}
                        <li>
                          <small><a href="{{ url('blog_article_index', { 'tag': Tag.name })}}">{{ Tag.name }}</a></small>
                        </li>
                      {% endfor %}
                    </li>
                    <!-- @todo 댓글 수 -->
                    <li>
                      <span class="ion-chatbox"></span>
                      <a href="#">14</a>
                    </li>
                    <li>
                      <span class="ion-calendar"></span>
                      <span class="w-date">{{ Article.createdAt|date("l, Y.m.d") }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            {% endfor %}

            {{ knp_pagination_render(Articles) }}

          {% endif %}
        </div>
        <!-- 검색 -->
        {% include 'block/search.twig'%}

        <!-- 카테고리 -->
        {% include 'block/category.twig' %}

        <!-- 최근 작성한 게시물 -->
        {% include 'block/recent_articles.twig' %}  

        <!-- 최근 추가된 태그 -->
        {% include 'block/recent_tags.twig'%}
      </div>
    </div>
  </section>
{% endblock %}

{% block rightside %}
  
  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('blog_article_new') }}" class="btn-shortcut one" data-toggle="tooltip" data-placement="left" title="{{ 'tooltip.front.blog.article.article.new'|trans }}"><i class="fa fa-edit" style="padding: 10px 0 0 4px;"></i></a>
  {% endif %}

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/fosckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js') }}"></script>
  <script>
    $(function () {
      hljs.initHighlightingOnLoad();
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}