{% extends 'base.html.twig' %}
{% block nav %}
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="{{ path('blog_index') }}">{{ 'front.home'|trans }}</a>
    </div>
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">
        {% if app.user %}
          <li class="nav-item"><a class="nav-link js-scroll" href="#"><small>{{ app.user.email }}</small></a></li>
          <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('user_signout') }}"><i class="fa fa-sign-out fa-lg"></i></a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('user_signin') }}"><i class="fa fa-user-circle fa-lg"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
{% block intro %}{% endblock %}
{% block main %}
<ion-icon name="person"></ion-icon>
<div class="intro intro-single route bg-image">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">블로그</h2>
        <ol class="breadcrumb d-flex justify-content-center">
        </ol>
      </div>
    </div>
  </div>
</div>

  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- 블로그 본문 -->
          {% if Articles is empty %}
            <div class="post-box">
              {{ 'common.data.null'|trans }}
            </div>
          {% else %}
          {% for Article in Articles %}
            <div class="post-box">
              <div class="post-thumb">
                <a href="{{ path('blog_show', {'id': Article.id}) }}">
                <img src="{{ asset('style/img/' ~ Article.thumbnail) }}" class="img-fluid" alt="">
                </a>
              </div>
              <div class="post-meta">
                <a href="{{ path('blog_show', {'id': Article.id}) }}">
                  <h1 class="article-title">{{ Article.title }}</h1>
                </a>
                <ul>
                  <li>
                    <span class="ion-pricetag"></span>
                    {% for ArticleTag in Article.articleTag %}
                      <li>
                        <small><a href="{{ url('blog_index', { 'tag': ArticleTag.Tag.name })}}">{{ ArticleTag.Tag.name }}</a></small>
                      </li>
                    {% endfor %}
                  </li>
                  <li>
                    <span class="ion-chatbox"></span>
                    <a href="#">14</a>
                  </li>
                  <li>
                    <span class="ion-calendar"></span>
                    <span class="w-date">{{ Article.createdAt|date("l, Y.m.d") }}</span>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
          {{ knp_pagination_render(Articles) }}
          {% endif %}
        </div>
        <!-- 검색 -->
        <div class="col-md-4">
          <div class="widget-sidebar sidebar-search">
            <h5 class="sidebar-title">{{ 'front.blog.search'|trans }}</h5>
            <div class="sidebar-content">
              <form method="GET" action="{{ path('blog_index') }}">
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="{{ 'front.blog.search.placeholder'|trans }}">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-search" type="submit">
                      <span class="ion-android-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>

          <!-- 카테고리 -->
          <div class="widget-sidebar">
            <h5 class="sidebar-title">{{ 'front.blog.category'|trans }}</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                {% if Categories is not empty %}
                {{ Categories|raw }}
                {% endif %}
              </ul>
            </div>
          </div>

          <!-- 최근 작성한 게시물 -->
          <div class="widget-sidebar">
            <h5 class="sidebar-title">{{ 'front.blog.recently'|trans }}</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                {% if RecentArticles is not empty %}
                {% for RecentArticle in RecentArticles %}
                  <li><a href="{{ path('blog_show', {'id': RecentArticle.id} )}}">{{ RecentArticle.title }} <small>{{ RecentArticle.createdAt|date('l, Y/m/d')}}</small></a></li>
                {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>

          <!-- 최근 추가된 태그 -->
          <div class="widget-sidebar widget-tags">
            <h5 class="sidebar-title">{{ 'front.blog.tag'|trans }}</h5>
            <div class="sidebar-content">
              <ul>
                {% for Tag in RecentTags %}
                <li>
                  <form method="GET" action="{{ path('blog_index') }}">
                    <input type="hidden" name="tag" value="{{ Tag.name }}" />
                    <button class="btn btn-outline-primary btn-sm" type="submit">{{ Tag.name }}</button>
                  </form>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}