{% extends "base.html.twig" %}
{% block stylesheets %}
<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
{% endblock %}
{% block nav %}
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="{{ path('home') }}">PortfolioBlog</a>
    </div>
  </nav>
{% endblock %}
{% block main %}
<div class="form-security" style="margin: 0 auto; text-align: center; width: 400px;">    
  
  <form method="post" action="{{ path('sec_login') }}" >
  
  {% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" style="margin: 30px 0;">{{ 'security.login'|trans }}</h1>
    
    <input style="margin: 10px 0;" type="email" value="{{ last_username }}" name="_email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    
    <input style="margin: 10px 0;" type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
    <div style="display: flex; margin: 10px; justify-content: center;">
      <div class="switch">
        <label>
          <input type="checkbox" name="_remember_me">
          <span class="slider round"></span>
        </label>
      </div>
      <div style="margin: 5px">{{ 'security.login.remember'|trans }}</div>
    </div>

    <button style="width: 100%"class="btn btn-sm btn-primary" type="submit">{{ 'security.login.submit'|trans }}</button>

  </form>
</div>
{% endblock %}