


{# <div class="side-container">
  <ul>
    <li><img class="view" src="/style/images/home.gif" alt="home"></li>
    {% if Aside.Account is not null %}
    <div class="info">
      <span>{{ Aside.Account.email }}</span>
      <span>({{ Aside.Account.username }})</span>
    </div>
    {% endif %}
    <li><a href="{{ url('home') }}"><h5>Home</h5></a></li>
    <li class="categories"><h5>Category</h5></li>
    <div class="category_box">
    {% if Aside.Categories is not null %}
      {% for Category in Aside.Categories %}
        <div class="category"><h5>{{ Category.title }}</h5>
          <ul class="category_slide">
          {% for Board in Aside.Boards %}
            {% if Category.id == Board.category.id %}
              <li><a href="{{ path('article_index', {'board': Board.id, 'page': 1 })}}">{{ Board.subject }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </ul>
</div> #}