<div class="widget-sidebar">
  <h5 class="sidebar-title">{{ 'front.blog.category'|trans }}</h5>
  <div class="sidebar-content">
    <a href="{{ path('blog_article_index') }}">{{ 'front.blog.article.cnt'|trans }} ({{ ArticlesCnt }})</a>
    <ul class="list-sidebar">
      {% if Categories is not empty %}
        {% for Category in Categories %}
          <li><a href="{{ path('blog_article_index', { 'category': Category.row.id })}}">{{ Category.row.title }} ({{ Category.total }})</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>