{% extends 'front/base.twig' %}

{% block nav %}
  <li class="nav-item"><a class="nav-link js-scroll" href="#about">{{ 'front.home.about'|trans }}</a></li>
  <li class="nav-item"><a class="nav-link js-scroll" href="#project">{{ 'front.home.project'|trans }}</a></li>
  <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('contact') }}">{{ 'front.home.contact'|trans }}</a></li>
{% endblock %}

{% block main %}
  <section id="about" class="about-mf sect-pt4 route">
    <!--
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ asset('style/img/work-1.jpg') }}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span>{{ 'front.home.about.cert'|trans|raw }}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">{{ 'front.home.about.skill'|trans }}</p>
                  {% if Skills is not empty %}
                    {% for Skill in Skills %}
                      <span>{{ Skill.name }}</span> <span class="pull-right">{{ Skill.level }}</span>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ Skill.percentage }}%;" aria-valuenow="{{ Skill.percentage }}" aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                    {% endfor %}
                  {% else %}
                  {{ 'common.data.null'|trans|raw }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">{{ 'front.home.about'|trans }}</h5>
                  </div>
                  {{ 'front.home.about.description'|trans|raw }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </section>

  {% if Work is not empty %}
    <!--
    <div class="section-counter paralax-mf bg-image" style="background-image: url({{ asset('style/img/intro.jpeg') }})">
      <div class="overlay-mf" style="opacity: 0.73"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">{{ Work.joinYears }}</p>
                <span class="counter-text">{{ 'front.home.work.join_years'|trans }}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">{{ Work.joinProjects }}</p>
                <span class="counter-text">{{ 'front.home.work.join_projects'|trans }}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-people"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">0</p>
                <span class="counter-text"></span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">0</p>
                <span class="counter-text"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  {% endif %}

  {% if Portfolios is not empty %}
    <section id="portfolio" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">{{ 'front.home.portfolio'|trans }}</h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              {% for Portfolio in Portfolios %}
              <a href="{{ Portfolio.url }}" target="_blank">
                <div class="work-img">
                  <!-- @todo -->
                  <img src="{{ asset('style/img/placeholder_thumb.png') }}" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">{{ Portfolio.title }}</h2>
                      <p>{{ Portfolio.subtitle }}</p>
                      <div class="w-more">
                        <span class="w-ctegory">
                        {% for PortfolioSkill in Portfolio.PortfolioSkill %}
                        {{ PortfolioSkill.Skill.name }}
                        {% endfor %}
                        </span>/
                        <span class="w-date">{{ Portfolio.createdAt|date("Y.m.d.l") }}</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}