<!--

  @author yuu2dev
  updated 2020.08.17
  댓글 작성 폼 블록. 재사용하기 위해서는 폼타입 필요

-->

  <div class="form-box">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form._token) }}

    <div class="input-box flex">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.thumbnail %}
          <img class="thumb "src="{{ app.user.thumbnail }}" alt="#" />
        {% else %}
          <img class="thumb "src="{{ asset('style/img/user_thumb.png') }}" alt="#" />
        {% endif %}
        <span>{{ app.user.username }}</span>
      {% else %}
      
      {{ form_widget(form.username, {'attr': {'style': 'margin: 5px;'}}) }}
      {{ form_errors(form.username) }}
 
      {{ form_widget(form.password, {'attr': {'style': 'margin: 5px;'}}) }}
      {{ form_errors(form.password) }}

      {% endif %}
    </div>
    <div>
      {{ form_widget(form.content) }}
      {{ form_errors(form.content) }}

      {{ form_widget(form.visible) }}
      {{ form_errors(form.visible) }}

      {{ form_row(form.submit)}}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
  </div>
