<div id="comment" class="box-comments">
    <ul class="list-comments">
        <!-- 댓글 -->
        {% for ArticleComment in Article.comments %}
            {% if ArticleComment.parent is null %} 
                <li class="comment-parent"> 
                    <div class="comment-avatar">
                        {% if ArticleComment.user and ArticleComment.user.thumbnail %}
                            <img class="thumb "src="{{ ArticleComment.user.thumbnail }}" alt="#" />
                        {% else %}
                            <img class="thumb "src="{{ asset('style/img/user_thumb.png') }}" alt="#" />
                        {% endif %}
                    </div>      
                    <div class="comment-details">
                        <h5 class="comment-author">{{ ArticleComment.username ? ArticleComment.username : 'front.blog.article.comment.unknown'|trans }}</h5>
                        {% if ArticleComment.deletedAt %}
                            <span><small>{{ 'front.blog.article.comment.deleted'|trans }}</small></span>
                            <span><small>{{ ArticleComment.deletedAt|date("Y.m.d h:i:s") }}</small></span>
                        {% else %}
                            <p>{{ ArticleComment.content }}</p>
                            <span><small>{{ ArticleComment.createdAt|date("Y.m.d h:i:s") }}</small></span>
                            <!-- 멤버가 읽는 자기 자신의 댓글 -->
                            {% if is_granted('IS_AUTHENTICATED_FULLY') == true and ArticleComment.user and app.user.id == ArticleComment.user.id %}
                                <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                <a href="#"><small>{{ 'front.blog.article.comment.edit'|trans }}</small></a>
                                <a href="{{ path('blog_comment_del', { id: ArticleComment.id })}}"><small>{{ 'front.blog.article.comment.del'|trans }}</small></a>
                            <!-- 멤버가 읽는 다른 멤버의 댓글 -->
                            {% elseif is_granted('IS_AUTHENTICATED_FULLY') == true and ArticleComment.user and app.user.id != ArticleComment.user.id %}
                                <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                            <!-- 멤버가 읽는 익명의 댓글 -->
                            {% elseif is_granted('IS_AUTHENTICATED_FULLY') == true and ArticleComment.user is null %}
                                <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: ArticleComment.id, branch: 'edit' })}}" data-title="{{ 'modal.front.blog.article.comment.edit'|trans }}"><small>{{ 'front.blog.article.comment.edit'|trans }}</small></a>
                                <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: ArticleComment.id, branch: 'del' })}}" data-title="{{ 'modal.front.blog.article.comment.del'|trans }}"><small>{{ 'front.blog.article.comment.del'|trans }}</small></a>
                            <!-- 익명이 읽는 멤버의 댓글 -->
                            {% elseif is_granted('IS_AUTHENTICATED_FULLY') == false and ArticleComment.user %}
                                <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_new',  { id: ArticleComment.id, branch: 'new'  })}}" data-title="{{ 'modal.front.blog.article.comment.reply'|trans }}"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                            <!-- 익명이 읽는 익명의 댓글-->
                            {% elseif is_granted('IS_AUTHENTICATED_FULLY') == false and ArticleComment.user is null %}
                                <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_new',  { id: ArticleComment.id })}}" data-title="{{ 'modal.front.blog.article.comment.reply'|trans }}"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: ArticleComment.id, branch: 'edit' })}}" data-title="{{ 'modal.front.blog.article.comment.edit'|trans }}"><small>{{ 'front.blog.article.comment.edit'|trans }}</small></a>
                                <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: ArticleComment.id ,branch: 'del'  })}}" data-title="{{ 'modal.front.blog.article.comment.del'|trans }}"><small>{{ 'front.blog.article.comment.del'|trans }}</small></a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- 답글 -->
                    {% for Recomment in ArticleComment.Recomment %}
                        <li class="comment-children">
                            <div class="comment-avatar">
                                {% if Recomment.user and Recomment.user.thumbnail %}
                                    <img class="thumb "src="{{ Recomment.user.thumbnail }}" alt="#" />
                                {% else %}
                                    <img class="thumb "src="{{ asset('style/img/user_thumb.png') }}" alt="#" />
                                {% endif %}
                            </div>
                            <div class="comment-details">
                                <h5 class="comment-author">{{ Recomment.username ? Recomment.username : 'front.blog.article.comment.unknown'|trans }}</h5>
                                {% if Recomment.deletedAt %}
                                    <span><small>{{ 'front.blog.article.comment.deleted'|trans }}</small></span>
                                    <span><small>{{ Recomment.deletedAt|date("Y.m.d h:i:s") }}</small></span>
                                {% else %}
                                    <p>{{ Recomment.content}}</p>
                                    <span><small>{{ Recomment.createdAt|date("Y.m.d h:i:s") }}</small></span>
                                    <!-- 멤버가 읽는 자기 자신의 댓글 -->
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') == true and ArticleComment.user and app.user.id == ArticleComment.user.id %}
                                        <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                        <a href="#"><small>{{ 'front.blog.article.comment.edit'|trans }}</small></a>
                                        <a href="{{ path('blog_comment_del', { id: ArticleComment.id })}}"><small>{{ 'front.blog.article.comment.del'|trans }}</small></a>
                                    <!-- 멤버가 읽는 다른 멤버의 댓글 -->
                                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') == true and Recomment.user and app.user.id != Recomment.user.id %}
                                        <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                    <!-- 멤버가 읽는 익명의 댓글 -->
                                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') == true and Recomment.user is null %}
                                        <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                        <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: Recomment.id , branch: 'edit' })}}" data-title="{{ 'modal.front.blog.article.comment.edit'|trans }}"><small>{{ 'front.blog.article.comment.edit'|trans }}</small></a>
                                        <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: Recomment.id , branch: 'del' })}}" data-title="{{ 'modal.front.blog.article.comment.del'|trans }}"><small>{{ 'front.blog.article.comment.del'|trans }}</small></a>
                                    <!-- 익명이 읽는 멤버의 댓글 -->
                                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') == false and Recomment.user %}
                                        <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                    <!-- 익명이 읽는 익명의 댓글-->
                                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') == false and Recomment.user is null %}
                                        <a href="#"><small>{{ 'front.blog.article.comment.reply'|trans }}</small></a>
                                        <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: Recomment.id , branch: 'edit' })}}" data-title="{{ 'modal.front.blog.article.comment.edit'|trans }}"><small>{{ 'front.blog.article.comment.edit'|trans }}</small></a>
                                        <a href="#" class="link-modal" data-toggle="modal" data-target="#modal" data-url="{{ path('blog_comment_cert', { id: Recomment.id , branch: 'del' })}}" data-title="{{ 'modal.front.blog.article.comment.del'|trans }}"><small>{{ 'front.blog.article.comment.del'|trans }}</small></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- 모달 폼 -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h6 class="modal-title">{{ 'modal.front.blog.article.comment.cert'|trans }}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="modal-formbox" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>