<header id="header">
  <div class="inner">
    <a href={{ url('home') }} class="logo">My Blog</a>
    <nav id="nav">
      <a href="#">
        <div class="user">
          <img src="{{ asset('upload/falcon.jpeg') }}" alt="USER">
          <p>안녕하세요</p>
        </div>
      </a>
      <a href="{{ url('about') }}" >ABOUT</a>
      <a href="{{ url('skill') }}" >SKILL</a>
      <a href="#" >CATEGORY</a>
      <a href="{{ url('guestbook') }}">GUESTBOOK</a>
      <a href="{{ url('contact') }}">CONTACT</a>
      {% if app.user %}
        <!-- TODO: 로그아웃 아이콘 추가 -->
        <a href="{{ url('account_signout') }}"><!-- <img class="navicon" alt="Log out"> --> Logout</a>
      {% else %}
        <a href="{{ url('account_signin') }}"><img class="navicon" src="{{ asset('style/images//icon/signup.png') }}" alt="Log In"></a>
      {% endif %}
    </nav>
  </div>
</header>
<a href="#" class="navPanelToggle">
  <span class="fa fa-bars"></span>
</a>