{% if PageInfo is not null %}
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="{{ path('article_index', {'board': PageInfo.board , 'page': 1 })}}">&laquo;</a><li>
  {% if PageInfo.curPage != PageInfo.firstPage %}
  <li class="page-item"><a class="page-link" href="{{ path('article_index', {'board': PageInfo.board , 'page': PageInfo.prevPage })}}">Prev</a><li>
  {% else %}
  <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Prev</a><li>
  {% endif %}
  {% for i in 1..PageInfo.lastPage %}
  {% if i == PageInfo.curPage %}
  <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i   }}</a></li>
  {% else %}
   <li class="page-item"><a class="page-link" href="{{ path('article_index', {'board': PageInfo.board , 'page': i })}}">{{ i }}</a><li>
  {% endif %}
  {% endfor %}
  {% if PageInfo.curPage != PageInfo.lastPage %}
  <li class="page-item"><a class="page-link" href="{{ path('article_index', {'board': PageInfo.board , 'page': PageInfo.nextPage })}}">Next</a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Next</a><li>
  {% endif %}
  <li class="page-item"><a class="page-link" href="{{ path('article_index', {'board': PageInfo.board , 'page': PageInfo.lastPage })}}">&raquo;</a></li>
</ul>
{% endif %}