{% extends 'base.html.twig' %}
{% block main %}
<div class="form-user signup card">    
  
  <h5 class="card-header">{{ 'front.user.signup'|trans }}</h5>
  <div class="card-body">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form._token) }}
    
    <!-- 썸네일 프리뷰 -->
    <div class="card-item preview">
      <img id="preview" src="{{ asset('style/img/user_thumb.png') }}" alt="none" />
    </div>

    <!-- 닉네임 -->
    <div class="card-item">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {{ form.alias.vars.label }}<br />
      {{ form_widget(form.alias) }}
      <small>{{ form_errors(form.alias)}}</small>
    </div>
    
    <!-- 썸네일 업로드 -->
    <div class="card-item">
      {{ form_widget(form.thumbnail) }}
      <small>{{ form_help(form.thumbnail)}}</small>
      <small>{{ form_errors(form.thumbnail)}}</small>
    </div>
    
    <!-- 이메일 -->
    <div class="card-item">
      <i class="fa fa-envelope-o" aria-hidden="true"></i> 
      {{ form.email.vars.label }}<br />
      <div class="d-flex">
        {{ form_widget(form.email) }}
        {{ form_widget(form.check_email) }}
        {{ form_widget(form.check_email_btn) }}
      </div>
      <small>{{ form_help(form.email)}}</small>
      <small>{{ form_errors(form.email)}}</small>
      <small>{{ form_errors(form.check_email)}}</small>
    </div>
    
    <!-- 패스워드 -->
    <div class="card-item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.password.first.vars.label }}<br />
      {{ form_widget(form.password.first) }}
      <small>{{ form_help(form.password.first)}}</small>
      <small>{{ form_errors(form.password.first)}}</small>
    </div>

    <!-- 패스워드 재확인 -->
    <div class="card-item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.password.second.vars.label }}<br />
      {{ form_widget(form.password.second) }}
      <small>{{ form_help(form.password.second)}}</small>
      <small>{{ form_errors(form.password.second)}}</small>
    </div>

    <!-- Google Recaptcha -->
    <div class="card-item">
      <div class="form-user g-recaptcha" data-sitekey="6LeFy6gUAAAAAEXAe66NVeIl0mcTfGkk7xgqNuVw"></div>
    </div>
    
    <div class="card-item m-unset d-flex contents-center">
      {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="{{ asset('style/js/preview.js') }}"></script>
  <script src="{{ asset('style/js/flash.js') }}"></script>
  <script>
    $(function() {
      const email_id           = "#{{ form.email.vars.id }}";
      const email_check_id     = "#{{ form.check_email.vars.id }}";
      const email_check_val    = "#{{ form.check_email.vars.value }}";
      const email_check_btn_id = "#{{ form.check_email_btn.vars.id }}";
      const thumbnail_id       = "#{{ form.thumbnail.vars.id }}";
      const token_id           = "#{{ form._token.vars.id }}";
      // 썸네일 프리뷰
      $(thumbnail_id).change(function() {
        readURL(this, "#preview");
      });

      // 이메일 확인
      $(email_check_btn_id).click(function(e) {

        const _data  = { 
          '_token': $(token_id).val(),
          '_email': $(email_id).val()
        };

        $.ajax({
          type: "GET",
          url:  "{{ url('user_signup_dupcheck') }}",
          data: _data,
          dataType: "json",
          contentType: "application/json",
          async: false
        })
        .done(function(result) {

        })
        .fail(function(result, status, xhr) {
          
        })
        .always(function(){
         
        })
      });
    });
  </script>
{% endblock %}