{% extends "base.html.twig" %}
{% block main %}
<div class="form-user signin card"> 
  <form method="post" action="{{ path('user_signin') }}" novalidate>

    <h5 class="card-header">{{ 'front.user.signin'|trans }}</h5>
    <div class="card-body">
      <input class="form-control" type="email" value="{{ last_username }}" name="_email" id="inputEmail" placeholder="Email" required autofocus>
      
      <input class="form-control" type="password" name="_password" id="inputPassword" placeholder="Password" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      
      <div class="form-switch container">
        <div class="form-user signin remember" >{{ 'front.user.signin.remember'|trans }}</div>
        <div class="form-switch">
          <label>
            <input type="checkbox" name="_remember_me">
            <span class="form-switch-slider round"></span>
          </label>
        </div>
      </div>
      
      <button class="form-user signin submit btn btn-sm btn-primary" type="submit">{{ 'front.user.signin.submit'|trans }}</button>
      <a href="{{ path('user_signup') }}"><small>{{ 'front.user.signin.signup_link'|trans }}</small></a>
    </div>
  </form>
</div>

{% endblock %}