{% extends 'base.html.twig' %}
{% block nav %}
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="{{ path('home') }}">PortfolioBlog</a>
    </div>
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">
        {% if app.user %}
          <li class="nav-item"><a class="nav-link js-scroll" href="#"><small>{{ app.user.email }}</small></a></li>
          <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('user_signout') }}"><i class="fa fa-sign-out fa-lg"></i></a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('user_signin') }}"><i class="fa fa-user-circle fa-lg"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
{% block main %}

<!-- 에러 메시지 출력 -->
{% for error in app.flashes('error') %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
{% endfor %}

<div class="form-user signup card">    
  
  <h5 class="card-header">{{ 'front.user.signup'|trans }}</h5>
  <div class="card-body">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

    <!-- 썸네일 프리뷰 -->
    <div class="card-item preview">
      <img id="preview" src="{{ asset('style/img/user_thumb.png') }}" alt="none" />
    </div>

    <!-- 닉네임 -->
    <div class="card-item">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {{ form.alias.vars.label }}<br />
      {{ form_widget(form.alias) }}
      <small>{{ form_errors(form.alias)}}</small>
    </div>
    
    <!-- 썸네일 업로드 -->
    <div class="card-item">
      {{ form_widget(form.thumbnail) }}
      <small>{{ form_help(form.thumbnail)}}</small>
      <small>{{ form_errors(form.thumbnail)}}</small>
    </div>
    
    <!-- 이메일 -->
    <div class="card-item">
      <i class="fa fa-envelope-o" aria-hidden="true"></i> 
      {{ form.email.vars.label }}<br />
      {{ form_widget(form.email) }}
      <small>{{ form_help(form.email)}}</small>
      <small>{{ form_errors(form.email)}}</small>
    </div>
    
    <!-- 패스워드 -->
    <div class="card-item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.password.first.vars.label }}<br />
      {{ form_widget(form.password.first) }}
      <small>{{ form_help(form.password.first)}}</small>
      <small>{{ form_errors(form.password.first)}}</small>
    </div>

    <!-- 패스워드 재확인 -->
    <div class="card-item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.password.second.vars.label }}<br />
      {{ form_widget(form.password.second) }}
      <small>{{ form_help(form.password.second)}}</small>
      <small>{{ form_errors(form.password.second)}}</small>
    </div>

    <!-- Google Recaptcha -->
    <div class="card-item auth">
      <div class="form-user g-recaptcha" data-sitekey="6LeFy6gUAAAAAEXAe66NVeIl0mcTfGkk7xgqNuVw"></div>
    </div>
    
    <div class="card-item btn">
      {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    // 썸네일 프리뷰
    $(function() {
      
      var imgId = '#{{ form.thumbnail.vars.id }}';
      console.log(imgId);
      readURL(imgId);

      $(imgId).change(function() {
        readURL(this);
      });

      function readURL(input) {

        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('#preview').attr('src', e.target.result);

            console.log(e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
    });
  </script>
{% endblock %}