{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('style/css/user/signin.css') }}">
{% endblock %}

{% block main %}
<!-- 시큐리티 메시지 -->
{% if last_authentication_error %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ last_authentication_error.messageKey|trans(last_authentication_error.messageData, 'security') }}
  </div>
{% endif %}

<!-- 입력 폼 -->
<div class="form-user signin card"> 
  <form method="post" action="{{ path('user_signin') }}" novalidate>

    <h5 class="card-header">{{ 'front.user.signin'|trans }}</h5>
    <div class="card-body">
      <input class="form-control" type="email" value="{{ last_username }}" name="_email" id="inputEmail" placeholder="Email" required autofocus>
      
      <input class="form-control" type="password" name="_password" id="inputPassword" placeholder="Password" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      
      <div class="form-switch container">
        <div class="form-user signin remember" >{{ 'front.user.signin.remember'|trans }}</div>
        <div class="form-switch">
          <label>
            <input type="checkbox" name="_remember_me">
            <span class="form-switch-slider round"></span>
          </label>
        </div>
      </div>
      
      <button class="form-user signin submit btn btn-sm btn-primary" type="submit">{{ 'front.user.signin.submit'|trans }}</button>
      <a href="{{ path('user_signup') }}"><small>{{ 'front.user.signin.signup_link'|trans }}</small></a>
    </div>
  </form>
</div>

{% endblock %}