{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('style/css/user/signup.css') }}">
{% endblock %}

{% block nav %}
  <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('home') }}">{{ 'front.home'|trans }}</a></li>
{% endblock %}

{% block main %}
<div class="form-user signup card">    
  
  <h5 class="card-header">{{ 'front.user.signup'|trans }}</h5>
  <div class="card-body">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form._token) }}
    
    <!-- 썸네일 프리뷰 -->
    <div class="card-item preview">
      <img id="preview" src="{{ asset('style/img/user_thumb.png') }}" alt="none" />
    </div>

    <!-- 닉네임 -->
    <div class="card-item">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {{ form.username.vars.label }}<br />
      {{ form_widget(form.username) }}
      <small>{{ form_errors(form.username)}}</small>
    </div>
    
    <!-- 썸네일 업로드 -->
    <div class="card-item">
      {{ form_widget(form.thumbnail) }}
      <small>{{ form_help(form.thumbnail)}}</small>
      <small>{{ form_errors(form.thumbnail)}}</small>
    </div>
    
    <!-- 이메일 -->
    <div class="card-item">
      <i class="fa fa-envelope-o" aria-hidden="true"></i> 
      {{ form.email.vars.label }}<br />
      <div class="d-flex">
        {{ form_widget(form.email) }}
        {{ form_widget(form.check_email) }}
        {{ form_widget(form.check_email_btn) }}
      </div>
      <small>{{ form_help(form.email)}}</small>
      <small>{{ form_errors(form.email)}}</small>
      <small>{{ form_errors(form.check_email)}}</small>
    </div>
    
    <!-- 패스워드 -->
    <div class="card-item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.password.first.vars.label }}<br />
      {{ form_widget(form.password.first) }}
      <small>{{ form_help(form.password.first)}}</small>
      <small>{{ form_errors(form.password.first)}}</small>
    </div>

    <!-- 패스워드 재확인 -->
    <div class="card-item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.password.second.vars.label }}<br />
      {{ form_widget(form.password.second) }}
      <small>{{ form_help(form.password.second)}}</small>
      <small>{{ form_errors(form.password.second)}}</small>
    </div>

    <!-- Google Recaptcha -->
    <div class="card-item">
      <div class="form-user g-recaptcha" data-sitekey="6LeFy6gUAAAAAEXAe66NVeIl0mcTfGkk7xgqNuVw"></div>
    </div>
    
    <div class="card-item m-unset d-flex contents-center">
      {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="{{ asset('style/js/preview.js') }}"></script>
  <script src="{{ asset('style/js/flash.js') }}"></script>
  <script src="{{ asset('style/js/validator.js') }}"></script>
  <script src="{{ asset('style/js/user/signup.js') }}"></script>
  <script>
    $(function() {

      // twig 폼 속성 세팅
      var signup = {
        email_id:             "#{{ form.email.vars.id }}",
        email_check_id:       "#{{ form.check_email.vars.id }}",
        email_check_btn_id:   "#{{ form.check_email_btn.vars.id }}",
        thumbnail_id:         "#{{ form.thumbnail.vars.id }}",
        url: {
          email_check:        "{{ url('user_signup_dupcheck') }}",
        },
        button: {
          email_check:        "{{ 'front.user.signup.email.check'|trans }}",
          email_checking:     "{{ 'front.user.signup.email.check.checking'|trans }}",
          email_passed:       "{{ 'front.user.signup.email.check.passed'|trans }}",
        },
        alert: {
          email_is_empty:     "{{ 'assert.user.email.empty'|trans([], 'validators') }}",
          email_is_email:     "{{ 'assert.user.email.incorrent'|trans([], 'validators') }}",
          email_duplicated:   "{{ 'front.user.signup.email.duplicated'|trans }}",
          email_unduplicated: "{{ 'front.user.signup.email.unduplicated'|trans }}",
          email_check_failed: "{{ 'front.user.signup.email.check.failed'|trans }}"
        }
      };

      // 썸네일 프리뷰
      signUpPreview(signup.thumbnail_id);

      // 이메일 중복확인
      signUpEmailCheck(signup);
    });
  </script>
{% endblock %}