{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
    .article-new {
      margin: 0 auto;
      text-align: center; 
      max-width: 800px;
    }

    .article-new h1 {
      margin: 30px 0;
    }
    
    .content-box {
      margin-bottom: 5px;
    }

    .hashtag-box {
      margin-bottom: 10px;
    }
    
    .hashtag-view {
      margin-bottom: 5px;
    }

    .hashtag-view li {
      border-radius: 5px;
      display: inline-block;
      margin: 3px;
      padding: 5px;
      list-style-type: none;
    }

    .hashtag-view li span {
      cursor: pointer;
      margin-left: 3px;
      color: #404146;
    }

    .navbar-b.navbar-reduce {
      padding-bottom: 0;
    }

  </style>
{% endblock %}

{% block javascripts %}
  <script>
    $(function(){
      
      // 해시태그 객체
      var hashtags = {};

      initHashtag();
      // 해시태그 초기값
      function initHashtag() {
        
        {% for Tag in form.vars.value.Tag %}

          var hashtag = '{{ Tag.name }}';
          
          addHashtag(hashtag);

        {% endfor %}
      }

      // 해시태그 객체 추가
      function addHashtag(value) {
        
        if(isDuplicated(value)) return;

        var idx = Object.keys(hashtags).length;
        hashtags[idx] = value;
        
        renderHashtag(idx, value);
      }

      // 해시태그 렌더링
      function renderHashtag(idx, value) {

        $('.hashtag-view').append(
          "<li>" +
            "<button type='button' class='btn btn-outline-primary btn-sm'>" +
            value + 
            "<span class='btn-del-hashtag' idx='" + idx + "'>x</span>" +
            "</button>" +
          "</li>"
        );
      }

      // 해시태그 객체 삭제
      function removeHashtag(idx) {
        if(idx != -1) 
        delete hashtags[idx];
      }

      // 해시태그 삭제버튼 스크립트
      $(document).on('click', '.btn-del-hashtag', function(event) {
        
        var hashtag = $(this);
        var idx     = $(this).attr('idx');

        removeHashtag(idx);

        hashtag.parent().remove();
      });

      // 해시태그 키보드 스크립트
      $('#hashtag').keydown(function(event) {
        
        var hashtag = $(this);

        if(isKeyboard(event.keyCode)) {
          event.preventDefault();
          var value = $(this).val().trim();
          
          if(!isEmpty(value)) {
            addHashtag(value);
            hashtag.val('');
          }
        }
      });

      // 중복검사
      function isDuplicated(value) {
        return (Object.values(hashtags).indexOf(value)) != -1 ? true : false;
      }

      // 공백검사
      function isEmpty(str) {
        return (!str || 0 === str.length);
      }

      // 키보드검사
      function isKeyboard(keyCode) {
        return (keyCode == 32 | keyCode == 13 | keyCode == 188) ? true : false;
      }

      // Cancel버튼 스크립트
      $('#cancel').one('click', function(event){
        $(location).attr('href', "{{ url('blog_index') }}");
      });

      // Submit버튼 스크립트
      $('#submit').one('click', function(event) {
        $('#article_hashtag').val($.map(hashtags, function(value, index) {
          return [value];
        }));
        $('form').submit();
      });
    });
  </script>
{% endblock %}

{% block nav %}
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="{{ path('blog_index') }}">{{ 'front.home'|trans }}</a>
    </div>
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">
        {% if app.user %}
          <li class="nav-item"><a class="nav-link js-scroll" href="#"><small>{{ app.user.email }}</small></a></li>
          <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('sec_logout') }}"><i class="fa fa-sign-out fa-lg"></i></a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link js-scroll" href="{{ path('sec_login') }}"><i class="fa fa-user-circle fa-lg"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
{% block main %}
<div class="article-new">    
  
  <h1 >{{ 'front.blog.article'|trans }}</h1>
  
  {% for message in app.flashes('msg') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    <div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('user') }}"/>
    </div>
    
    <diV>
      {{ form_row(form.category) }}
    </div>
    
    <diV>
      {{ form_row(form.visible) }}
    </div>

    <div>
      {{ form_row(form.title, {'attr': {'placeholder': 'front.blog.article.title.placeholder'|trans }}) }}
    </div>
    
    <div class="content-box">
      {{ form_widget(form.content) }}
      {{ form_errors(form.content) }}
    </div>

    <div class="hashtag-view">
      <ul></ul>
      {{ form_row(form.hashtag) }}
    </div> 

  {{ form_end(form) }}
  
  <div class="hashtag-box">
    <input id="hashtag" name="hashtag" type="text" class="form-control" placeholder="{{ 'front.blog.article.hashtag.placeholder'|trans }}" />
  </div>

  <div class="submit-box">
    <button id="cancel" type="button" class="btn btn-danger">{{ 'front.blog.article.cancel'|trans }}</button>
    <button id="submit" type="submit" class="btn btn-primary">{{ 'front.blog.article.submit'|trans }}</button>
  </div>
</div>
{% endblock %}