{% extends 'base.html.twig' %}

{% block main %}
  <!-- INTRO -->
  <div id="intro" class="intro route bg-image" style="background-image: url({{ asset('style/img/intro.jpeg') }})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">{{ 'administrator.id'|trans }}</h1>
          <p class="intro-subtitle">
            <span class="text-slider-items">{{ 'front.intro.text'|trans }}</span>
            <strong class="text-slider"></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT -->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ asset('style/img/work-1.jpg') }}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span>{{ 'front.about.cert'|trans|raw }}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">{{ 'front.about.skill'|trans }}</p>
                  {% if Skills is defined and 
                        Skills is not null %}
                    {% for Skill in Skills %}
                      <span>{{ Skill.name }}</span> <span class="pull-right">{{ Skill.level }}</span>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ Skill.percentage }}%;" aria-valuenow="{{ Skill.percentage }}" aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                    {% endfor %}
                  {% else %}
                  {{ 'common.null'|trans|raw }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">{{ 'front.about.introduction'|trans }}</h5>
                  </div>
                  {{ 'front.about.description'|trans|raw }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- WORK -->
  {% if Work is defined and
        Work is not null %}
  <div class="section-counter paralax-mf bg-image">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">{{ Work.join_year }}</p>
              <span class="counter-text">{{ 'front.work.year'|trans }}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">{{ Work.join_project }}</p>
              <span class="counter-text">{{ 'front.work.project'|trans }}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">0</p>
              <span class="counter-text"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">0</p>
              <span class="counter-text"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- PORTFOLIO -->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">{{ 'front.portfolio.title'|trans }}</h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="#" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ asset('style/img/work-1.jpg') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">JavaFx-Chat</h2>
                    <p>Window/Mac 채팅앱</p>
                    <div class="w-more">
                      <span class="w-ctegory">JAVA</span> / <span class="w-date">22 Nov. 2019</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}