{% extends "base.html.twig" %}
{% block main %}
  <h3>Sign In</h3>
  {% if error|length > 0 %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <hr>
  <center class="form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ include('block/button/signin.btn.twig') }}
    {{ form_end(form) }}
  </center>
{% endblock %}